<!DOCTYPE html>
<html>
<head>
  <title>PhotogramAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
          <% if notice.present? %>
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= notice %>
          </div>
          <% end %>

          <% if alert.present? %>
          <div class="alert alert-dismissable alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= alert %>
          </div>
          <% end %>

          <%= yield %>
        </div>

<%= yield %>

</body>
</html>
